# Load dynamic libraries
useDynLib(cdcosso)

import(stats)
import(MASS)
import(glmnet)
import(mvtnorm)
import(quadprog)
import(graphics)

export(data_generation)
export(cdcosso)
export(cdcosso.glm)
export(predict.cdcosso)
export(metric)
